*{
  margin: 0;
  padding: 0;
  gap: 0;
  color: #161928;
  list-style: none;
  text-align: center;
}

body {
  background-color: #DA7FB1;
  box-sizing: border-box;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  width: 50vw;
  height: 2vh;
  background-color: #e5dee0;
  border: none;
  border-radius: 25px;
}

#Temp {
  font-size: 50px;
  justify-self: flex-end;
}

#RH {
  font-size: 20px;
  justify-self: flex-start;
}

#WT {
  align-self: center;
  font-size: 20px;
}

#icon {
  filter: invert(48%) sepia(93%) saturate(263%) hue-rotate(159deg) brightness(87%) contrast(84%);
  place-self: center;
  max-width: 50%;
}

#daily {
  background-color: #e5dee0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border: 3px solid #4D88AD;
  border-radius: 25px;
  padding: 20px;
  height: 35vh;
  width: 50vw;
}

.dailyDivs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  flex: 1;
}

#hourly {
  width: 50vw;
}

table {
  width: 100%;
  text-align: center;
  border: 3px solid #4D88AD;
  background-color: #e5dee0;
  border-radius: 25px;
  padding: 20px;
}

td, th {
  width: 10vw;
}

caption {
  font-size: 25px;
  font-weight: 800;
}

#giphy {
  margin: 20px;
  height: 10vh;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #161928;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}